<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UI.Properties.Settings.Programacion3_Agenda_ConnectionString"
            connectionString="Data Source=JOAQUIN;Initial Catalog=Programacion3-Agenda;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="UI.Properties.Settings.Programacion3_AgendaConnectionString"
            connectionString="Data Source=E09;Initial Catalog=Programacion3-Agenda;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>